<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="BrowserURL" value ="http://usdcpopsqlqa001:8000" />
    <add key="ExportLocation" value="C:\%USERPROFILE%\Downloads\" />
    <add key="ModelFilesLocation" value="C:\POP\Testing\Integration Tests\POPServer.IntegrationTests\TestDocuments\" />
    <add key ="Domain" value ="27212" />
    <add key ="CygNetSite" value ="CYG_DEMO" />
    <add key ="CygNetFacility" value ="RPOC_00002" />
    <add key="IsRunningInATS" value="true" />
    <add key="Exports" value="C:" />
    <add key="P4Branch" value="Trunk" />
    <add key="Wellname" value="ESP_WELL99" />
    <add key="GlobalTimeout" value="15" />
    <!--Can be Trunk or Release-->
    <add key="Browser" value="IE" />
    <!--Can be IE or Chrome-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
        <codeBase version="10.0.0.0" href="C:\Program Files (x86)\Progress\Test Studio\Bin\Newtonsoft.Json.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
